<!--Braedon Kimball - Mission 7-->
@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel



@foreach (Book b in Model.Books)
    {
        <!--Style with bootstrap-->
        <div class="card card-outline-primary m-1 p-1"> 

            <!--Title-->
            <div class="bg-light p-1">
                <h5>Title: @b.Title</h5>

                <!--Price-->
                <span class="badge bg-info" style="float:right">
                    Buy Now: $@b.Price
                </span>

            </div>

            <!--List of remaining categories-->
            <ul>
                <li>Author: @b.Author</li>
                <li>Publisher: @b.Publisher</li>
                <li>ISBN: @b.Isbn Served</li>
                <li>Classification: @b.Classification</li>
                <li>Category: @b.Category</li>
                <li>Number of Pages: @b.PageCount</li>
            </ul>
        </div>
            <br />
    }

    <!--Tag Helper-->
    <div page-blah="@Model.PageInfo" page-action="Index"></div>
